@page "/estate/create"
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>

<Form ButtonText="Create Estate" estate="@estate" OnValidSubmit="@CreateEstate" />
            
@code {
    Estate estate = new Estate();
    async Task CreateEstate()
    {
        await http.PostAsJsonAsync("https://localhost:7046/api/Estates", estate);
        uriHelper.NavigateTo("estateoverview");
    }
}
