@page "/estate/edit/{id}"
@inject ICustomHttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Edit</h3>

<Form ButtonText="Update" estate="estate" OnValidSubmit="@EditEstate" />

@code {
    [Parameter] public string id { get; set; }
    Estate estate = new Estate();
    
    protected async override Task OnParametersSetAsync()
    {
        estate = await http.GetEstateAsync(int.Parse(id));
    }

    async Task EditEstate()
    {
        await http.UpdateEstateAsync(estate);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("estateoverview");
    }
}
