@page "/conditionreport/create/{id}"
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>

<Form ButtonText="Create Report" ConditionReport="@CR" OnValidSubmit="@CreateReport" />
            
@code {

    [Parameter] public string id { get; set; }
    
    public Estate? Estate { get; set; }
    
    ConditionReport CR = new ConditionReport();

    async Task CreateReport()
    {
        Estate = await http.GetFromJsonAsync<Estate>($"https://localhost:7046/api/Estates/{int.Parse(id)}");
        CR.Estate = Estate;
        await http.PostAsJsonAsync("https://localhost:7046/api/ConditionReports", CR);
        uriHelper.NavigateTo("estateoverview");
    }
}
